@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Telugu:wght@100;400;700;800&family=Poppins:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'IBM Plex Sans', sans-serif;

}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
.header{
    border-bottom: 1px solid #E2E8F0;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
}

.nav-link:hover {
    color: #A1CAE1;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #414243;
    align-items: center;
    display: block;
    justify-content: space-between;
    display: flex;  
    font-family: 'IBM Plex Sans', sans-serif;
}



@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 8rem;
        flex-direction: column;
        background-color: #ffffff;
        width: 100%;
        border-radius: 5px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media only screen and (min-width: 680px) {
    .flex-screen7
    .flex-screen7
    {display:none;}
  }

@media only screen and (min-width: 680px) {
    .logomobil
    {display:none;}
  }

@media only screen and (min-width: 680px) {
    .box-model 
    {display:none;}
  }

@media only screen and (max-width: 600px) {
    .box-model3 
    {display:none;}
   }

@media only screen and (max-width: 600px) {
    .flex-item6
    {display:none;}
   }

@media only screen and (max-width: 600px) {
    .logodesktop
    {display:none;}
   }

   @media only screen and (max-width: 600px) {
    .column
    {display:none;}
   }

   @media only screen and (max-width: 600px) {
    .box-model2
    {display:none;}
   }

   @media only screen and (max-width: 600px) {
    .flex-item-funnet
    {display:none;}
   }

   @media only screen and (max-width: 600px) {
    .item-funnet-venstre
    {display:none;}
   }



body {
	background: #FCFCFC;
}

.nav-logo img {
    margin-right: 10px;
    height: 60px;
}


#headerbilde {
	width: fill;
	height: 500px;
	background: url(images/Elmhurst_iStock_000017412926_Double.png);
  background-size: cover;
  background-position: center;
	border: 0px solid #ffffff;
	border-radius: 0px;	 
  margin-top: 100px;  
  align-content: center;
  
   
}

  
  .text-block {
    position: relative;
    bottom: 200px;
    left: 60px;
    width: 50%;
    background-color: black;
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
    padding-left: 30px;
    padding-right: 0px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 10px;
    opacity: 0.6;
    
  }

    .text-block {
    position: relative;
    bottom: 220px;
    left: 60px;
    width: 50%;
    background-color: black;
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
    padding-left: 30px;
    padding-right: 0px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 10px;
    opacity: 0.6;
    
  }

  .text-block2 {
    position: relative;
    top: 370px;
    left: 60px;
    height: 165px;
    width: 70%;
    background-color: black;
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
    padding-left: 30px;
    padding-right: 0px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 10px;
    opacity: 0.6;
    line-height: 180%;
    
  }


  .column {
    float: left;
    width: 50%;
    padding: 50px;
    padding-bottom: 0px;
    margin-top: 90px;
    
  }
  
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }



.box-model {
    padding: 20px;
    position: absolute;
	  margin-top:250px;
	  left: 0%;
    line-height: 220%;
    font-size: 12px;
    font-family: 'IBM Plex Sans', sans-serif;

}

.box-model3 {
    height: 270px;
    padding-left: 60px;
    padding-top: 40px;
    padding-right: 30px;
    margin: auto;
    margin-left:00;
    width: 50%;
    position: absolute;
	  margin-top: 250px;
	  left: 21%;
	  border-radius: 25px; 
    line-height: 200%;
    font-size:  1.90rem;
    color: #ffffff;
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: center;


}


.box-model4 {
  position: absolute;
  margin-top: 360px;
  left: 38%;
  border-radius: 25px; 
  line-height: 200%;
  font-size:  1.90rem;
  color: #ffffff;
  font-family: 'IBM Plex Sans', sans-serif;

}

.box-model5 {
  position: absolute;
  margin-top: 360px;
  left: 57%;
  border-radius: 25px; 
  line-height: 200%;
  font-size:  1.90rem;
  color: #ffffff;
  font-family: 'IBM Plex Sans', sans-serif;
}

.logodesktop {
    height: 270px;
    padding-left: 40px;
    padding-top: 0px;
    padding-right: 30px;
    margin: auto;
    position: absolute;
	  margin-top: 70px;
	  left: 37%;
    text-align: center;
    font-size:  1.90rem;
    color: #ffffff;
    font-family: 'IBM Plex Sans', sans-serif;

}

.logomobil {
    height: 0px;
    width: 300px;
    padding-left: 0px;
    padding-right: 00px;
    position: absolute;
	  margin-top: 40px;
	  left:10%;
    right:50%;
    text-align: center;
    font-size:  1.90rem;
    color: #ffffff;
    font-family: 'IBM Plex Sans', sans-serif;
}


#splash {
	margin-top:40px ;
	width: fill;
	height: 400px;
	background-color: #EEEEEE;
	border: 0px solid #ffffff;
	border-radius: 0px;
}

#bakgrunn {
	margin-top:90px ;
	width: fill;
	height: 130px;
	border: 0px solid #ffffff;
	border-radius: 0px;
}

.flex-container6 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
	padding-top: 0px;
}

.flex-item6 {
    height: 330px;
    width: 360px;
   text-align: center;
   font-family: 'Playfair Display', serif;
   color: #283962;
   font-weight:500;
}

.flex-container-funnet {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 60px;
  padding-top: 90px;
}

.flex-item-funnet {
  height: 240px;
  width: 360px;
  margin-left: 150px;
  text-align: left;
  font-family: 'Playfair Display', serif;
  color: #283962;
  font-weight:500;
  
}

.flex-container-funnet-venstre {
  float: right;
  
  display:grid;
  overflow: hidden
  
  
  
}


.item-funnet-venstre {
  
  margin-right: 40px;
  gap: 60px;
  padding-top: 80px;
  
  
}



.flex-screen7 {
    height: 150px;
    margin-top: -235px;
    margin-left: auto;
    margin-right: auto;
}

a:visited { 
    text-decoration: none; 
    color: #475569; 
   }

#button {
    border: 2px solid #ffffff;
    color: #ffffff;
    padding: 7px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    justify-content: space-around;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    transition: 0.3s;
    margin-bottom:50px ;
    margin-left: 80px;
    margin-right: auto;
  }

  #button:hover {
    opacity: 0.5;
    filter: alpha(opacity=90);
    background-color: #ffffff;
    color: #ffffff;
    border: 2px solid #ffffff;
   
}

#footer {
	display: fixed;
    left: 0px;
    right: 0px;
	width: fill;
	height: 40px;
	margin: 0 auto;
	padding-top: 10px;
	border-top: 0px solid #3B3B3B;
	margin-top: 30px;
	padding-right: 10px;
	padding-left: 10px;
}

#footer p {
	margin: 0;
	padding: 0;
	width: fit-content;
	line-height: normal;
	font-size: 77%;
	margin-left: 0px;
	margin-right: 0px;	
}

#legal {	
	float: left;
    color: #3B3B3B;
}

#links {
	float: right;
	text-decoration: none;
	color: #ffffff;
}

.box-model2 {
    padding: 5px;
    margin: auto;
    color: #52575C;
    position: absolute;
	  top: 15%;
	  left: 3%;
    font-size: 14px;
    font-family: 'IBM Plex Sans', sans-serif;
    z-index: 5;
    line-height: 70%;
}






*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
  
  body {
    margin-top: 100px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 12px;
    color: #384047;
  }
  
  form {
    max-width: 300px;
    margin: 50px ;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
  }
  
  h1 {
    margin: 0 0 30px 0;
    text-align:right;
    font-size: 45px;
    color: #52575C;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="file"],
  input[type="time"],
  input[type="image"],
  input[type="url"],
  textarea,
  select {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 12px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #818B92;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
  }
  
  input[type="radio"],
  input[type="checkbox"] {
    margin: 0 4px 8px 0;
  }
  
  select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
  }
  
  button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #A1CAE1;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #94CAE9;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
  }
  
  fieldset {
    margin-bottom: 30px;
    border: none;
  }
  
  legend {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  label.light {
    font-weight: 300;
    display: inline;
  }
  
  .number {
    background-color: #A1CAE1;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 100%;
  }
  
  @media screen and (min-width: 480px) {
  
    form {
      max-width: 480px;
    }
  
  }